
body {
    background-color:var(--background);
    cursor: url('cursor-64.png') 32 32, auto;
  
}

h1 {
    font-family: "Space Mono", monospace;
   color: var(--brown);
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 100px;
    display: flex;
    justify-content: center;
    margin-top: 10%;
    margin: 12%;

    
    

}

#typewriter{
    white-space: pre-wrap; 
    display: inline-block;
    max-width: 80%;
    vertical-align: middle;
}

#typewriter::after{
    content: '|';
    display: inline-block;
    margin-left: 6px;
    color: var(--brown);
    animation: blink 1s steps(1) infinite;
}

@keyframes blink{
    50% { opacity: 0; }
}


a {
    text-decoration: none;
    color: #E4DCC8;
    font-family: "Space Mono", monospace;
    display: flex;
    
   
    

}

.home {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 999;
}

.home img{
    width: 50px;
    height: 50px;
    display: block;
}
.nav{
    display:flex;
    
    
}

.guides{
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    gap: 12px;
    align-items: center;
    z-index: 999; 
}

.guide{
    font-family: "Space Mono", monospace;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--brown);

    text-decoration: none;
}



 




 @media(max-width: 768px) {

    .navi {
        display:none;
        }
    
    h1 {
    font-family: "Space Mono", monospace;
    color: var(--brown);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: left;
    margin: 0;
    z-index: 10;
    }

 }


