body {
    background-color: var(--background);
    cursor: url('cursor-64.png') 32 32, auto;
}




a {
    text-decoration: none;
    color: var(--brown);
    font-family: "Space Mono", monospace;

}



.context a{
    font-family: "Space Mono", monospace;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 0px;
    color: var(--brown);
    display: flex;
    margin-left: 10%;
    margin-top: 8%;
}


.nav{
    display:flex;
    justify-content: space-between;
 }
 .home {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 999;
}

.home img{
    width: 50px;
    height: 50px;
    display: block;
}
.nav{
    display:flex;
    
    
}

.guides{
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    gap: 12px;
    align-items: center;
    z-index: 999; 
}

.guide{
    font-family: "Space Mono", monospace;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--brown);

    text-decoration: none;
}



 @media(max-width: 768px) {
.context a{
    font-family: "Space Mono", monospace;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: -80px;
    color: var(--brown);
    display: flex;
    margin-left: 5%;
    margin-top: 30%;    
 }
}