h1 {
  font-family: "Space Mono", monospace;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  font-size: 20px;
}

body {
  background:#F4EDE3;
  
}


.page-chair img {
    width: 70%; 
    height: auto;
    
}