body{background:rgb(86, 101, 58) ;
}

h1{color: rgb(254, 251, 230);
  font-family: "Sigmar One", sans-serif;
  font-weight: 2000;
  font-style: normal;
  text-align: center;
  letter-spacing: 0.5px; 
  line-height: 30px; 
}
 
h1{ 
  font-family: "Space Mono", monospace;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  font-size: 45px;
  

}

a:link, a:visited {
  background-color: rgb(148, 89, 41);
  color: rgb(254, 251, 230);
  padding: 50px 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  
}

a:hover, a:active {
  background-color: rgb(86, 101, 58);
  color: rgb(254, 251, 230);
}